In [1]:
import pandas as pd
import matplotlib as plt

In [2]:
df = pd.read_csv('../raw_data/twitter_training.csv')

In [3]:
df['Positive'].unique()

array(['Positive', 'Neutral', 'Negative', 'Irrelevant'], dtype=object)

In [4]:
df.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [5]:
df.rename(columns = {'Positive':'Polarity', 'im getting on borderlands and i will murder you all ,':'Text'}, inplace = True)

In [6]:
df.tail()

,2401,Borderlands,Polarity,Text
74676,9200,Nvidia,Positive,Just realized that the Windows partition of my...
74677,9200,Nvidia,Positive,Just realized that my Mac window partition is ...
74678,9200,Nvidia,Positive,Just realized the windows partition of my Mac ...
74679,9200,Nvidia,Positive,Just realized between the windows partition of...
74680,9200,Nvidia,Positive,Just like the windows partition of my Mac is l...

In [20]:
df2 = pd.read_csv('../raw_data/example_amz_rev.csv')

In [21]:
df2.head()

,Unnamed: 0,texts,date,polarity
0,0,i was a little sceptical buying this phone bec...,2019-04-27,2
1,1,this seller is amazing was a bit skeptical at ...,2019-06-12,2
2,2,just was told by my carrier att that this phon...,2019-08-20,0
3,3,i purchased this phone for my daughter and it ...,2019-05-14,1
4,4,i don’t know why everyone’s giving this seller...,2019-05-21,2

In [22]:
df2 = df2[['texts', 'date','polarity']]

In [25]:
df2.rename(columns = {'texts':'Text', 'date': 'Date', 'polarity':'Polarity'}, inplace = True)

In [26]:
df2.head()

                                                Text        Date  Polarity
0  i was a little sceptical buying this phone bec...  2019-04-27         2
1  this seller is amazing was a bit skeptical at ...  2019-06-12         2
2  just was told by my carrier att that this phon...  2019-08-20         0
3  i purchased this phone for my daughter and it ...  2019-05-14         1
4  i don’t know why everyone’s giving this seller...  2019-05-21         2

In [27]:
df2["Polarity"].replace([2,1,0],['Positive','Neutral','Negative'], inplace=True)

In [28]:
df2.head()

                                                Text        Date  Polarity
0  i was a little sceptical buying this phone bec...  2019-04-27  Positive
1  this seller is amazing was a bit skeptical at ...  2019-06-12  Positive
2  just was told by my carrier att that this phon...  2019-08-20  Negative
3  i purchased this phone for my daughter and it ...  2019-05-14   Neutral
4  i don’t know why everyone’s giving this seller...  2019-05-21  Positive

In [49]:
df2 = df2[['Date','Polarity']]
df2.head()
df2.sort_values(by = ['Date'], inplace=True)
df2.head()

         Date  Polarity
7  2019-04-03  Positive
18 2019-04-12  Positive
0  2019-04-27  Positive
12 2019-05-09  Negative
3  2019-05-14   Neutral

In [29]:
df2.dtypes

Text        object
Date        object
Polarity    object
dtype: object

In [31]:
df2['Date']= pd.to_datetime(df2['Date'])

In [32]:
df2.dtypes

Text                object
Date        datetime64[ns]
Polarity            object
dtype: object

In [54]:
df2['Year - Months'] = df['Date'].apply(lambda x : '-'.join(str(x).split('-')[:2]))
df2

KeyError: 'Date'