# Twitter API

In [1]:
import requests
import os
import pandas as pd
import csv
from dotenv import load_dotenv

In [2]:
def auth():
    load_dotenv()
    return os.getenv('TWITTER_BEARER_TOKEN')

In [3]:
def create_headers(bearer_token):
    headers = {"Authorization": "Bearer {}".format(bearer_token)}
    return headers

In [4]:
def create_url_keyword(keyword, max_results = 10):
    
    url = "https://api.twitter.com/2/tweets/search/recent" 
    
    params = {'query': keyword,
              'max_results': max_results}
    
    return (url, params)

In [5]:
def connect_to_endpoint(url, headers, params):
    response = requests.request("GET", url, headers = headers, params = params)
    print("Endpoint Response Code: " + str(response.status_code))
    if response.status_code != 200:
        raise Exception(response.status_code, response.text)
    return response.json()

In [6]:
#to do the request
bearer_token = auth()
headers = create_headers(bearer_token)

Python-dotenv could not parse statement starting at line 1
Python-dotenv could not parse statement starting at line 4

In [7]:
keyword = "somenergia"
url, params = create_url_keyword("somenergia")

In [8]:
tweets = connect_to_endpoint(url, headers, params)

Endpoint Response Code: 200

In [9]:
df = pd.DataFrame.from_dict(tweets["data"])
df

                    id                                               text
0  1531304763924561922  @AssunVegas @afectadoholaluz @_Rapalan_ @nitig...
1  1531299579546697728  Abrimos un segundo concurso de ingenierÃ­as par...
2  1531299576363237381  Ingeniaritza-enpresen bigarren lehiaketa ireki...
3  1531296837684056068  Abrimos un segundo concurso de ingenierÃ­as par...
4  1531296833720438787  Ingeniaritza-enpresen bigarren lehiaketa ireki...
5  1531294301514260481  RT @carlescomalada: Oferta laboral: desenvolup...
6  1531290981596811265  RT @BordaCoop: ðŸŒ¿ Per a una #TransiciÃ³EnergÃ¨tic...
7  1531290952400257025  RT @BordaCoop: ðŸŒ¿ Per a una #TransiciÃ³EnergÃ¨tic...
8  1531290748968222721  RT @jaumejosa: Aquest proper diumenge 5 de jun...
9  1531283666118225922  @luis_nx01 Jo sempre els hi dic que soc de @So...

In [10]:
df.to_csv(f'../raw_data/tweets_{keyword}.csv')