In [1]:
import pandas as pd

In [30]:
df = pd.read_csv("sentiment_amz_playstation.csv")

In [34]:
df

           date                                               text sentiment
0    2021-10-24  really the ball on this just made a list of wh...  Negative
317  2021-10-27  as a product it is but it is ridiculous how th...  Negative
338  2021-10-28  this console brought back my passion for be if...  Positive
380  2021-10-31  this thing i got it for retail and its a beast...  Positive
379  2021-10-31  my dog is very excited to get the after a whol...  Positive
..          ...                                                ...       ...
355  2022-06-03  star for all the bad business surrounding the ...   Neutral
103  2022-06-03      awesome console had it from release loving it  Positive
408  2022-06-03                                 great as thank you  Positive
218  2022-06-04  believe i actually got a no time to play with ...  Negative
443  2022-06-05             package came fast and in good works as  Positive

[447 rows x 3 columns]

In [35]:
df = df.sort_values("date")

In [38]:
df.iloc[200:]

           date                                               text sentiment
169  2022-01-04  amazing excellent and best of all shipped in t...  Positive
351  2022-01-04  this console is beautiful with a connection it...  Negative
77   2022-01-04                 you want hold back get it whenever   Neutral
342  2022-01-04       cant beat a computer that the whole stock in   Neutral
248  2022-01-04  was skeptical about it through but it in amazi...  Positive
..          ...                                                ...       ...
121  2022-06-03                     very powerful machine for just  Positive
356  2022-06-03  specs is is more and more is going to be the s...   Neutral
408  2022-06-03                                 great as thank you  Positive
218  2022-06-04  believe i actually got a no time to play with ...  Negative
443  2022-06-05             package came fast and in good works as  Positive

[247 rows x 3 columns]

In [37]:
df.shape

(447, 3)

In [39]:
import datetime

start_date = datetime.datetime.strptime("2021-06-01" , "%Y-%m-%d")
end_date = datetime.datetime.strptime("2022-05-01" , "%Y-%m-%d")

In [40]:
df["date"] = pd.to_datetime(df["date"] , format = "%Y-%m-%d")
df = df.query(f"'{end_date}' >= date >='{start_date}'")

In [41]:
df.shape

(406, 3)

In [42]:
df

          date                                               text sentiment
0   2021-10-24  really the ball on this just made a list of wh...  Negative
317 2021-10-27  as a product it is but it is ridiculous how th...  Negative
338 2021-10-28  this console brought back my passion for be if...  Positive
380 2021-10-31  this thing i got it for retail and its a beast...  Positive
379 2021-10-31  my dog is very excited to get the after a whol...  Positive
..         ...                                                ...       ...
17  2022-04-29  the media could not be i ordered the on and re...  Positive
270 2022-04-30                                       as i very it   Neutral
159 2022-04-30  awesome happy that i can play but excited to s...  Positive
278 2022-05-01                                  very happy thanks  Positive
214 2022-05-01  from the to to the ease of a very good console...  Positive

[406 rows x 3 columns]

In [43]:
df.to_csv("sentiment_amz_playstation_small.csv")